<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginforAdmin</servlet-name>
        <servlet-class>Controller.LoginforAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>Controller.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCetegory</servlet-name>
        <servlet-class>Controller.AddCetegory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPublisher</servlet-name>
        <servlet-class>Controller.AddPublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAuther</servlet-name>
        <servlet-class>Controller.AddAuther</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdmin</servlet-name>
        <servlet-class>Controller.AddAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>Controller.ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Controller.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>Controller.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginforUser</servlet-name>
        <servlet-class>Controller.LoginforUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowBook</servlet-name>
        <servlet-class>Controller.BorrowBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnBorrowBook</servlet-name>
        <servlet-class>Controller.UbBorrow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>extendDate</servlet-name>
        <servlet-class>Controller.extendDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editBook</servlet-name>
        <servlet-class>Controller.editBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginforAdmin</servlet-name>
        <url-pattern>/LoginforAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCetegory</servlet-name>
        <url-pattern>/AddCetegory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPublisher</servlet-name>
        <url-pattern>/AddPublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAuther</servlet-name>
        <url-pattern>/AddAuther</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdmin</servlet-name>
        <url-pattern>/AddAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginforUser</servlet-name>
        <url-pattern>/LoginforUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowBook</servlet-name>
        <url-pattern>/BorrowBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnBorrowBook</servlet-name>
        <url-pattern>/UnBorrow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>extendDate</servlet-name>
        <url-pattern>/extendDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editBook</servlet-name>
        <url-pattern>/editBook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
